@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    overflow: hidden;
}

.h1 h1{
    font-size: 3.2rem;
    font-family: 'Poppins', sans-serif;
}

.h2 h2{
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

a{
    text-decoration: none;
    box-shadow: none;
}

.hero-text{
    font-family: 'Pacifico', cursive;
    color: #353535;
}

.blog_about{
    background: url('https://res.cloudinary.com/craftwebs/image/upload/v1606647208/nu07r10y3/SVG%27S/blob_1.svg') no-repeat;
    background-size: cover;
    position: relative;
}

.hero-bg{
    background: url('https://res.cloudinary.com/craftwebs/image/upload/v1611511446/wavesio_qetnvn.png') no-repeat;
    background-size: cover;
    position: relative;
}